body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: mediumseagreen!important;
}
ul#searchResults{
    list-style:none;

    float:left;
    margin:0;
    max-height:750px;
    overflow-y:scroll;
    min-width: 100%;
}
ul#searchResults li{
    display:inline-flex;
    padding-left:0;
    min-width:100%;
    padding-top:15px;
    padding-bottom: 15px;
    border-style:inset;
    max-height:50%;

}
