<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Transactions</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style media="screen">
      body {
        background-color: mediumseagreen;
      }
      #bar {
        /*background-color: blue!important;*/
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-default" id="bar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Blend</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="https://localhost:8080/search">Search</a></li>
          <li><a href="#">Page 2</a></li>
          <li><a href="#">Page 3</a></li>
        </ul>
    </div>
    </nav>

    <h1>Your Current Transactions</h1>
      <ul>
        
      </ul>
    <h1>Your Previous Transactions</h1>
      <ul>

      </ul>


      <script type="text/javascript">
        window.addEventListener('load', function() {

        })
      </script>

  </body>
</html>
